.wp-customizer {

    .customize-control-heading h2 {
        font-size: 1rem;
        margin: 1rem 0 0 0;
        color: #333;
    }

    .customize-control-text p {
        margin: 0;
    }

    li.customize-control-checkbox {
        margin-bottom: 0;
    }
}